@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased text-white bg-slate-800;
    -webkit-tap-highlight-color: transparent;
    padding-bottom: env(safe-area-inset-bottom);
  }

  body {
    touch-actions: none;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  h1 {
    @apply text-xl mb-5;
  }

  h2 {
    @apply text-lg mb-2;
  }

  button {
    @apply bg-red-500 rounded-md py-1 px-2 cursor-pointer h-6 box-content;
  }
  button:disabled {
    @apply bg-slate-400 text-slate-500 cursor-default;
  }
  button:active {
    @apply scale-95;
  }

  form {
    @apply w-96;
  }

  label {
    @apply text-sm flex flex-col;
  }

  input[type="text"], input[type="number"] {
    @apply rounded-md py-1 px-2 bg-slate-600 my-2 h-6 box-content;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  code {
    @apply rounded-md p-2 bg-slate-600 my-2 box-content whitespace-pre;
  }
}

@layer components {
  .card {
    @apply p-4 bg-slate-700 rounded-lg my-2;
  }

  .card > .card {
    @apply px-2 bg-slate-600 mt-4;
  }
}
